---
layout: cv
---
	<div class="mainDetails">
		<!-- <div id="headshot" class="quickFade">
			<img src="headshot.jpg" alt="Alan Smith" />
		</div> -->

		{% include cv_info.html %}
	</div>

	<div id="mainArea" class="quickFade delayTwo">

		{% include cv_sections.html %}

		<!-- <section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
					<li>b Key Skill</li>
					<li>c Key Skill</li>
				</ul>
			</div>
		</section> -->

		<section>
			<div class="sectionTitle">
				<h1> Publications</h1>
			</div>
			<div class="sectionContent">
				<article>
					<h2> Journal Articles </h2>
					{% bibliography -q @article %}
				</article>

				<article>
					<h2> Conferences and Workshops</h2>
					{% bibliography -q @inproceedings %}
				</article>

				<article>
					<h2>Patents</h2>
					{% bibliography -q @patent %}
				</article>
			</div>
			<div class="clear"></div>
		</section>
	</div>
