.page_listing {

    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D5D5D5;

}

.page_logo_left {

    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.page_contenu_logo_left {

    float: right;
    width: calc(100% - 150px);

}
